<div class="container my-5">
    <h1 class="mb-3">Employees</h1>

    <table class="table" *ngIf="employees && employees.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>StreetName</th>
                <th>HouseNumber</th>
                <th>ApartmentNumber</th>
                <th>PostalCode</th>
                <th>Town</th>
                <th>PhoneNumber</th>
                <th>DateOfBirth</th>
                <th>Age</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.streetName }}</td>
                <td>{{ employee.houseNumber }}</td>
                <td>{{ employee.apartmentNumber }}</td>
                <td>{{ employee.postalCode }}</td>
                <td>{{ employee.town }}</td>
                <td>{{ employee.phoneNumber }}</td>
                <td>{{ employee.dateOfBirth }}</td>
                <td>{{ employee.age }}</td>
                <td><a *ngIf="isEmployeesRoute()" [routerLink]="['edit', employee.id ]">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!employees || employees.length <= 0">No Employees Found!</p>
</div>
